.xrlist {
  color: var(--font);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  &:not(:first-child) {
    margin-top: 24px;
    .header {
      padding-top: 0;
    }
  }
  &:not(:last-child) {
    .footer {
      padding-bottom: 0;
    }
  }
  .header {
    padding: 8px 16px;
  }
  .main {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
  }
  .label {
    flex: 1;
    min-width: 0;
    color: var(--font1);
    font-size: 14px;
    line-height: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .note {
    flex: none;
    color: var(--font2);
    font-size: 14px;
    line-height: 1;
    margin-left: 8px;
  }
  .desc {
    color: var(--font2);
    font-size: 14px;
    line-height: 20px;
    margin: 5px 0 -3px;
    &:first-child {
      margin-top: -3px;
    }
  }
  .footer {
    padding: 8px 16px;
  }
  .desc2 {
    color: var(--font2);
    font-size: 14px;
    line-height: 20px;
    margin: -3px 0;
  }
}
