.xrlistitem {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 8px;
  column-gap: 0px;
  padding: 0 0  8px 16px;
  box-sizing: border-box;
  color: var(--font);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--base1);
  &.disabled > * {
    opacity: .5;
  }
  &:not(.disabled) {
    &.canclick:active {
      background-color: var(--area1);
      +.xrlistitem .tr {
        border-top-color: transparent;
      }
    }
  }
  &+.canclick:active .tr {
    border-top-color: transparent;
  }
  +.xrlistitem {
    .tl {
      border-top: 1px solid transparent;
    }
    .tr {
      border-top: 1px solid var(--area1);
    }
  }
  .tl {
    padding-top: 8px;
  }
  .tr {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    min-width: 0;
    min-height: 28px;
    box-sizing: content-box;
    padding-top: 8px;
    padding-right: 8px;
  }
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    box-sizing: content-box;
    margin-right: 8px;
    height: 100%;
  }
  .info {
    flex: 1;
    min-width: 0;
  }
  .main {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
  }
  .label {
    flex: 1;
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .note {
    flex: none;
    color: var(--font2);
    margin-left: 8px;
  }
  .desc {
    color: var(--font2);
    font-size: 14px;
    line-height: 20px;
  }
  .option {
    flex: none;
    color: var(--font2);
    margin-left: 8px;
    display: flex;
  }
  .arrow {
    flex: none;
    color: var(--font2);
    margin-left: 8px;
    display: flex;
  }
  .children {
    font-size: 16px;
  }
  .error {
    color: var(--red);
    font-size: 14px;
    line-height: 20px;
  }
}
