.xrlist {
  color: var(--font);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  + .xrlist {
    margin-top: 36px;
    &.hasheader {
      margin-top: 24px;
    }
  }
  &.hasfooter + .xrlist {
    margin-top: 24px;
    &.hasheader {
      margin-top: 16px;
    }
  }
  .header {
    padding: 5px 16px;
    color: var(--font2);
    font-size: 14px;
    line-height: 20px;
  }
  .main {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    .label {
      flex: 1;
      min-width: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .note {
      flex: none;
      margin-left: 8px;
    }
  }
  .footer {
    padding: 5px 16px;
    color: var(--font2);
    font-size: 14px;
    line-height: 20px;
  }
}
